/* Header */
header {
    background: rgba(157, 170, 242, 0.1);
    padding: 2.0em 1.0em;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
}

header h3 {
    color: var(--hex3);
    padding-bottom: 0.6em;
}

header h1 {
    color: black;
    text-transform: uppercase;
}

header h5 {
    color: rgba(26, 34, 56, 0.8);
    padding-top: 0.6em;
}