/* Variables (Color-Theme) */
:root {
    --hex1: #1A2238; /* rgb(26, 34, 56) */
    --hex2: #9DAAF2; /* rgb(157, 170, 242) */
    --hex3: #FF3A3D; /* rgb(255, 58, 61) */
    --hex4: #F4DB7D; /* rgb(244, 219, 125) */
    margin: 0;
    border: 0;
    padding: 0;

}


/* HTML, Body and Container */
html {
    min-height: 100%;
}

body {
    width: 100%;
}

div#container {
    width: 100%;
    margin: 0 auto;
}


/* Typography */
@font-face {
    font-family: 'Roboto-Light';
    src: url('/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('/fonts/Roboto-Medium.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul { 
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'Roboto-Light', sans-serif;
}

h3,
h4,
h5 {
    font-family: 'Roboto-Regular', sans-serif;
}

h1 {
    font-size: 4.767em;
}

h2 {
    font-size: 3.764em;
}

h3 {
    font-size: 3.011em;
}

h4 {
    font-size: 2.133em;
}

h5 {
    font-size: 1.506em;
}

h6 {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 1.255em;
    padding: 0.3em 1.0em;
}

p,
address {
    font-family: 'Roboto-Regular', serif;
    font-size: 1.0em;
    line-height: 2.0em;
    font-style: normal;
}

/* Links */
a, a:visited, a:link, a:hover {
    text-decoration: none;
    color: inherit;
}


/* Common */
ul {
    list-style: none;
}