/css/footer.css
/css/header.css
/css/main.css
/css/nav.css
/images/comingsoon.png
/images/c-sharp.png
/images/JC.png
/images/laptop.jpg
/images/live.png
/images/php.png
/images/python.png
/images/reactjs.png
/images/ux.png
/images/web.png
/images/icons/f_logo_RGB-White_58.png
/images/icons/GitHub-Mark-Light-64px.png
/images/icons/LI-In-Bug.png
/images/icons/Twitter_Social_Icon_Circle_White.png