/* Footer */
footer {
    background: var(--hex2);
    color: var(--hex1);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

footer div img {
    padding: 1.0em;
    width: 50px;
    height: auto;
}