/* Nav */
nav {
    /* position: fixed; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

nav img {
    width: 50px;
    height: auto;
    padding: 0.5em;
}

ul#nav-links {
    width: 75%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

li.nav-link:hover {
    color: rgba(157, 170, 242, 0.6);
}